.home-head-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-con {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.home-loader-con {
  width: 80px;
  height: 80px;
  top: 472px;
  left: 680px;
}

.home-state-wise-data-con {
  width: 1146px;
  height: 2080px;
  top: 576px;
  left: 150px;
  border-radius: 12px;
  border: 1px solid rgba(71, 85, 105, 1);
}

.home-table-head-con {
  width: 1146px;
  top: 648px;
  left: 150px;
  background: rgba(71, 85, 105, 1);
  border: 1px solid rgba(71, 85, 105, 1);
}

.home-table-head-con1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-states-ut {
  width: 73px;
  height: 24px;
  top: 600px;
  left: 182px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(248, 250, 252, 1);
}

.home-confirmed {
  width: 76px;
  height: 24px;
  top: 600px;
  left: 472px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(248, 250, 252, 1);
}

.home-active {
  width: 46px;
  height: 24px;
  top: 600px;
  left: 674px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(248, 250, 252, 1);
}

.home-recovered {
  width: 77px;
  height: 24px;
  top: 600px;
  left: 844px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(248, 250, 252, 1);
}

.home-deceased {
  width: 71px;
  height: 24px;
  top: 600px;
  left: 1028px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(248, 250, 252, 1);
}

.home-population {
  width: 78px;
  height: 24px;
  top: 600px;
  left: 1186px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(248, 250, 252, 1);
}

.asc-btn {
  width: 20px;
  height: 20px;
  top: 602px;
  left: 271px;
}

.desc-btn {
  width: 20px;
  height: 20px;
  top: 602px;
  left: 303px;
}

.home-search-con {
  width: 824px;
  height: 72px;
  top: 144px;
  left: 308px;
  box-shadow: 0px 8px 16px 0px rgba(23, 31, 70, 0.08);
}

.search-input-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(148, 163, 184, 1);
}

.search-icon {
  width: 24px;
  height: 24px;
  top: 24px;
  left: 32px;
  background: rgba(148, 163, 184, 1);
}

.input {
  width: 105px;
  height: 24px;
  top: 24px;
  left: 64px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(148, 163, 184, 1);
}

.home-search-variants {
  width: 1440px;
  height: 914px;
  top: -4823px;
  left: -2294px;
  display: flex;
  flex-direction: column;
}
