.top-districts-head-text {
  width: 181px;
  height: 48px;
  top: 604px;
  left: 150px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 7, 58, 1);
}
